<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Administración de organizaciones</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-primary" (click)="create()"> <i class="flaticon-plus"></i> Nuevo registro </button>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-2">
                    <div class="row" [formGroup]="filterGroup">
                         
                            <select class="form-control" name="status" placeholder="Filtrar por estatus" formControlName="status">
                  <option value="">Todos</option>
                  <option value="1">Activo</option>
                  <option value="0">Suspendido</option>
                </select><small class="form-text text-muted"><b>Filtrar</b> por estatus</small>
                        
                    </div>
                </div>
                <div class="col-lg-4" [formGroup]="searchGroup">
                    <input type="text" class="form-control" name="searchText" placeholder="" value="" formControlName="searchTerm" /><small class="form-text text-muted"><b>Búsqueda</b> general</small>
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->
        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                   
                   
                    <th>
                        RAZÓN SOCIAL
                        <app-sort-icon column="razonSocial" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        RFC
                        <app-sort-icon column="rfc" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        RUBRO
                        <app-sort-icon column="rubro" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        ESTATUS
                        <app-sort-icon column="estatus" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        TELÉFONO
                        <app-sort-icon column="telefono" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>ACCIONES</th>
                </thead>
                <tbody>
                    <tr *ngFor="let org of OrgService.items$ | async">
                     
                        <td>{{ org.razonSocial }}</td>
                        <td>{{ org.rfc }}</td>
                        <td>{{ org.rubro }}</td>
                        <td>
                            <span class="label label-dot label-primary mr-2" [class.label-danger]="org.estatus === false" [class.label-primary]="org.estatus === true"></span>&nbsp;<span class="font-bold font-primary">
                                <ng-container *ngIf="org.estatus === false">Suspendido</ng-container>
                                <ng-container *ngIf="org.estatus === true">Activo</ng-container>
                              </span>
                        </td>
                        <td>{{ org.telefono }}</td>
                        <td>

                            <a title="Editar organización" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="edit(org.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                  </span>
                            </a>

                            <a title="Borrar organización" class="btn btn-icon btn-light btn-hover-danger btn-sm mx-3" (click)="delete(org.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-danger">
                  </span>
                            </a>
                            <a title="Configurar párametros" class="btn btn-icon btn-light btn-hover-warning btn-sm mx-3" (click)="parametros(org.parametroOrganizacion)">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Settings-2.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-warning">
                  </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator" [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>