<div class="text-center p-7 overflow-hidden" style="justify-content: center; align-items: center;">
    <!--begin::Login Header-->
    <div class="d-flex flex-center">
        <a href="#">
            <img src="assets/media/logos/usys.png" class="max-h-200px" alt="" />
        </a>
    </div>
    <!--end::Login Header-->
    <!--begin::Signin-->
    <div class="login-signin">
        <div class="mb-5">
            <h3>Bienvenido</h3>
            <div class="text-muted font-weight-bold">Ingresa tus credenciales para acceder a tu cuenta: </div>
        </div>
        <!--begin::Form-->
        <form class="form" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form" (ngSubmit)="submit()">
            <!-- begin::Alert error-->
            <ng-container *ngIf="hasError">
                <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                    <div class="alert-text">Los datos son incorrectos</div>
                </div>
            </ng-container>
            <!-- end::Alert error-->

            <!--begin::Form group-->
            <div class="form-group">
                <input class="form-control h-auto form-control-solid py-4 px-8" type="email" name="email" formControlName="email" autocomplete="off" [ngClass]="{ 'is-invalid': loginForm.controls['email'].invalid }" placeholder="Email" />
         
            </div>
            <!--end::Form group-->

            <!--begin::Form group-->
            <div class="form-group">
                <input class="form-control h-auto form-control-solid py-4 px-8" type="password" name="password" autocomplete="off" formControlName="password" [ngClass]="{ 'is-invalid': loginForm.controls['password'].invalid }" placeholder="Password" />
            </div>
            <!--end::Form group-->
            <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                <div class="checkbox-inline">
                    <label class=" m-0 text-muted">
                
                <span></span>¡Qué gusto verte!</label>
                </div>
                <a href="javascript:;" id="kt_login_forgot" class="text-muted text-hover-success">¿Crédenciales perdidas?</a>
            </div>
            <!--begin::Action-->
            <div class="pb-lg-0 pb-5">
                <button type="submit" id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4" [disabled]="loginForm.invalid">Iniciar Sesión</button>
                <ng-container *ngIf="isLoading$ | async">
                    <span class="spinner spinner-primary ml-5"></span>
                </ng-container>
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->
        <div class="mt-10">
            <span class="opacity-70 mr-4">Tu información digital al alcance de tus manos. v 1.0.2</span>
        </div>
    </div>
    <!--end::Signin-->
</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                {{ message }}
            </div>
        </div>
    </ng-container>
</ng-template>