<div class="card card-custom" >
  <!-- Body -->
  <div class="card-body p-0">
    <div
      class="d-flex align-items-center justify-content-between card-spacer flex-grow-1"
    >
      <span >
        <span class="symbol-label">
          <span
          ></span>
        </span>
      </span>
      <div class="d-flex flex-column text-right">
        <span class="text-dark-75 font-weight-bolder font-size-h3">750$</span>
        <span class="text-muted font-weight-bold mt-2">Weekly Income</span>
      </div>
    </div>
    <!--begin::Chart-->
    <div
      id="kt_stats_widget_11_chart"
      class="card-rounded-bottom"
      [style.height]="'150px'"
    >
     
    </div>
    <!--end::Chart-->
    <!--end::Stats-->
  </div>
</div>
