<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Administración de documentos</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6" [formGroup]="">
          <div class="row">

            <label class="form-label">Selección de área*</label>
            <select class="form-control" name="area" placeholder="Filtrar por áreas" formControlName="area"
              (change)="ngcallDirectorios($event.target.value)">
              <option [ngValue]="null" disabled>Elige una área</option>
              <option *ngFor="let m of area" [ngValue]="m.id">
                {{ m.nombre }}
              </option>
            </select><small class="form-text text-muted"><b>Buscar directorios</b> por área</small>

          </div>
        </div>

      </div>
    </div>

      <mat-card style="height: 100%; box-sizing: border-box; padding:0">
        <file-explorer [fileElements]="fileElements | async" [path]="currentPath" [canNavigateUp]="canNavigateUp"
          (folderAdded)="addFolder($event)" (elementRemoved)="removeElement($event)"
          (navigatedDown)="navigateToFolder($event)" (navigatedUp)="navigateUp()"
          (elementRenamed)="renameElement($event)" (elementMoved)="moveElement($event)">
        </file-explorer>
      </mat-card>
  
  </div>
</div>